    body {
        text-align: center;
        font-family: 'Montserrat';
        /* background-color: #e4f9f5; */
    }
    
    h1 {
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: normal;
    }
    
    #image {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
    }
    
    .card {
        margin: 0.5rem;
        padding: 25px;
        width: 100%;
        line-height: 2;
    }
    
    #img-div {
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: center;
        line-height: 2;
    }